.row {
display: flex;
flex-wrap: nowrap;
justify-content: center
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5%;
}
input {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
}

label {
  font-size: 2rem;
}
p {
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5)
}

a {
  color: red;
  font-size: 1.5rem;
}

button {
  padding: 1rem;
  margin: 1rem 0 0 0;
  border-radius: 1rem;
  font-size: 1rem
}

.story-button {
  margin: 1rem;
}

.title {
  font-family: 'Nosifer', cursive;
  color: red;
  margin: 1rem 0 0 3rem
}

body {
  background: url("background.jpg") no-repeat fixed center;
  color: white;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

