.row {
display: flex;
flex-wrap: nowrap;
justify-content: center
}

input {
  margin: 0.5rem 1rem;
  font-size: 1.2rem;
}

label {
  font-size: 2rem;
}

button {
  padding: 1rem;
  margin: 1rem 0 0 0;
  border-radius: 1rem;
  font-size: 1rem
}

.title {
  font-family: 'Nosifer', cursive;
  color: red
}

body {
  background-image: url("background.jpg");
  color: white;
  background-size: cover;
}

