.row {
display: flex;
flex-wrap: nowrap;
justify-content: center
}

input {
  margin: 0 1rem;
}

button {
  padding: 1rem;
  margin: 1rem 0 0 0
}

/* label {
  margin: 0 0 0 5rem
} */



.title {
  font-family: 'Nosifer', cursive;
  color: red
}
